:root {
  --headingFont: Redhat Display;
  --textFont: Redhat Text;
  --headerHeight: 50px;
  --footerHeight: 70px;
  --minHeight: calc(max(100vw, 100vh) * 0.4);
  --maxHeight: max(
    calc(100vh - var(--headerHeight) - var(--footerHeight) - 11px),
    var(--minHeight)
  );
  --wide: 1200px;
  --narrow: 700px;

  /*--dt-row-selected: 237, 242, 247 !important;*/
}

/*--- UW STYLE ---*/

@font-face {
  font-family: 'Redhat Display';
  src: url('redhat-display-latin.v14.woff2') format('woff2');
}

@font-face {
  font-family: 'Redhat Text';
  src: url('redhat-text-latin.v13.woff2') format('woff2');
}

html,
body,
header {
  font-family: var(--headingFont);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--textFont);
}

/*--- HEADER ---*/

header {
  width: 100%;
  height: var(--headerHeight);
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.uw-title {
  display: inline-flex;
  column-gap: 10px;
}

.uw-title img {
  height: 40px;
}

.uw-title h1 {
  padding: 0;
  margin: 0;
  line-height: 40px;
  font-size: 3rem;
}

.info-btn {
  margin: 10px;
}

.info-btn a {
  color: #fff;
}

.modal-body > h2 {
  margin: 0 0 20px 0;
}

.modal-body > * > img {
  float: right;
  max-width: 50%;
  margin-left: 10px;
}

/*--- FOOTER ---*/

footer {
  width: 100%;
  padding: 10px;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.badges {
  flex: 1;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.credits {
  flex: 1;
  text-align: right;
  color: #888;
  font-style: italic;
  font-size: 1rem;
}

@media (max-width: 500px) {
  footer {
    flex-direction: column;
  }

  .badges {
    justify-content: space-evenly;
  }

  .credits {
    text-align: center;
  }
}

/*--- LAYOUT ---*/

.container-fluid {
  padding: 0;
  min-width: 400px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  /* 20% 40% 40% equivalent */
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1rem;
  height: var(--maxHeight);
}

.column {
  padding: 1rem;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.column h2 {
  margin: 0px;
  font-size: 2rem;
  font-weight: bold;
}

.sidebar-col {
  grid-column: 1;
}

.column.map-col {
  padding: 0;
}

.map-col {
  grid-column: 2;
  min-height: 50vh;
}

.map-container {
  flex: 1;
  position: relative;
  border-top: 1px solid #ddd;
}

.data-col {
  grid-column: 3;
}

/* intermediate width layout */
@media (max-width: 1200px) {
  .main {
    grid-template-columns: 1fr 1fr;
    /* Two equal columns */
    height: unset;
  }

  .sidebar-col {
    grid-column: 1;
    grid-row: 1;
  }

  .map-col {
    grid-column: 2;
    grid-row: 1;
  }

  .data-col {
    grid-column: 1 / -1;
    /* Span full width */
    grid-row: 2;
  }
}

/* narrow width layout */
@media (max-width: 700px) {
  .main {
    grid-template-columns: 1fr;
    /* Single column */
  }

  .sidebar-col,
  .map-col,
  .data-col {
    grid-column: 1;
    grid-row: auto;
  }

  .uw-title h1 {
    font-size: 2rem;
  }
}

/* --- UTILITY --- */

.inline-flex {
  display: inline-flex;
  flex-wrap: wrap;
}

.flex-down {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-across {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.flex-across > .btn {
  flex: 1;
}

/* crop type button spacing fix */
.btn-group-container-sw {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.date-btns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(33% - 20px), 1fr));
  gap: 10px;
}

.date-btns > .btn {
  padding: 2px 5px;
  line-height: 1;
  white-space: break-spaces;
}

/*--- DATA TABLES ---*/

/* fix for DTOutput and server=TRUE */
table {
  table-layout: fixed;
}

td.tbl-coords {
  font-size: smaller;
}

/* prevent site table from overflowing */
#site_ui {
  max-width: 100%;
  overflow: auto;
}

/*--- STYLES ---*/

.shiny-input-container:not(.shiny-input-container-inline) {
  width: unset;
}

.form-group {
  margin-bottom: 0;
}

.label-inline {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  align-items: center;
}

.label-inline > label {
  margin-bottom: 0;
}

.site-tbl-container {
  max-width: 100%;
  max-height: 400px;
  overflow: auto;
}

.submit-btn {
  margin-top: 1rem;
}

.submit-btn > button {
  width: 100%;
  font-weight: bold;
}

.submit-btn > button:enabled {
  background-color: #218cb9;
  border: 1px solid #00a8dc;
  color: white;
}

#shiny-notification-panel {
  left: 0;
  right: unset;
}

.modal-title {
  font-weight: bold;
}

.modal-dialog {
  width: 800px;
  max-width: 90vw;
}

.shiny-output-error-validation {
  border: 1px solid rgb(39, 128, 227);
  border-radius: 5px;
  margin: 20px 0px;
  padding: 10px;
  background: rgb(236, 244, 252);
  color: #222;
}

/* site results feed */
.site-data {
  border: 1px solid hsl(210, 40%, 80%);
  border-radius: 5px;
}

.site-data-header {
  background: hsl(210, 40%, 95%);
  padding: 5px 10px;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
}

.site-data-content {
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.warning-box-container {
  width: 100%;
  display: inline-flex;
  align-items: center;
  border: 1px solid orange;
  border-radius: 5px;
  background-color: white;
  padding: 5px 10px;
  gap: 10px;
}

/*--- LEAFLET ---*/

/* draw above leaflet control */
.datepicker {
  z-index: 1001 !important;
}

.search-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

gmp-place-autocomplete {
  background-color: #ffffff;
  color-scheme: light;
  z-index: 1000;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-control-layers-list::before {
  content: 'Basemap:';
  font-weight: bold;
}

.leaflet-control-layers-overlays::before {
  content: 'Layers:';
  font-weight: bold;
}

.leaflet-shadow-pane {
  z-index: 500;
}

.map-title-container {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 95%;
  margin-top: 10px;
  z-index: 999;
}

.map-title {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 4px 8px;
  background: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: bold;
}

/*--- PLOTLY ---*/

.plotly-container {
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  background: #fff;
}

.reset-plot {
  margin-bottom: 15px;
  width: 30px;
  align-self: center;
  font-size: 2rem;
}

.reset-plot a {
  color: #293e4f;
}
