on: [push, pull_request]

name: test-shiny-app

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::testthat
            any::shiny
      - name: Run tests
        run: Rscript -e 'testthat::test_dir("tests/testthat")'